// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview{
  width: 100%;
  height: 700px;
}

#post_content{
  width: 100%;
}